{
  "extends": ["eslint:recommended", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": false,
    "node": true,
    "es6": true,
    "cypress/globals": true
  },
  "plugins": ["cypress"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.server.config.js"
      }
    }
  },
  "rules": {
    "import/no-commonjs": [0]
  }
}
